/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
}
.Main {
  padding-top: 60px;
  background-color: lemonchiffon;
  width: 20vw;
  min-height: 30vh;
  border-radius: 1rem;
  padding: 1rem;
}
.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.addButton {
  width: 6rem;
  height: 4rem;
  border-radius: 1rem;
  background-color: aquamarine;
 
  font-size: 3rem;
}

.addButton:hover {
  background-color: red;
}
textarea {
  resize: none;
  overflow: auto;
  height: 5rem;
  width: 20rem;
  font-size: 2rem;
}
.containerOfTextAndButton {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.stateButtons {
  display: flex;
  justify-content: space-around;
}
#allB {
  width: 6rem;
}
#activeB {
  width: 6rem;
}
#completedB {
  width: 6rem;
}
footer {
  margin-top: 5rem;
}
.plus {
  font-size: 3rem;
} */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
}
.Container {
  padding-top: 4.75rem;
  background-color: #f3f5f7;
  min-height: 100vh;
}
.Mainpart {
  width: 377px;
  padding: 24px 16px;
  border-radius: 8px;
  margin-inline: auto;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
}
.garchig {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 20px;
  text-align: center;
}
.form1 {
  display: flex;
  height: 40px;
  column-gap: 6px;
} */
/* .input1 {

  outline: none;
  font-size: 14px;
  border-radius: 6px;
  padding-inline: 16px;
  border: 1px solid #e4e4e7;
}
.addButton {
  width: 59px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #f9f9f9;
  border-radius: 6px;
  padding-inline: 16px;
  background-color: #3c82f6;
}
.states {
  height: 32px;
  display: flex;
  column-gap: 6px;
  margin-block: 20px;
} */
/* .buttonAll {
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
  padding-inline: 12px;
  transition: all 0.2s;
} */

/* .buttonCompleted,
.buttonActive,
.buttonAll {
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
  padding-inline: 12px;
  transition: all 0.2s ease-in-out;
}
.footer {
  font-size: 12px;
  color: #6b7280;
} */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,700;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&display=swap");

:root {
  --garchigniiUngu: black;
  --container-background: white;
  --listcontainer-back: #f3f4f6;
  --buttoncolor-blue: #3c82f6;
  --buttoncolor-white: #f3f4f6;
  --button-background: #3f51b5;
  --button-text-color: #ffffff;
  --inputborder-color: #3c82f6;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f3f5f7;
  display: flex;
  justify-content: center;
  font-family: "Inter", serif;
  height: 100vh;
  box-sizing: border-box;
}

.garchig {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

#container {
  width: 377px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
}

#main {
  width: 345px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputAdd {
  display: flex;
  height: 40px;
  column-gap: 6px;
}

#input-box {
  outline: none;
  width: 280px;
  height: 36px;
  border-radius: 6px;
  border: 1px solid #e4e4e7;
  background-color: field;
}

#input-box:focus {
  border: 2px solid blue;
  box-shadow: none;
}

#add-button {
  width: 60px;
  height: 38px;
  background-color: #3c82f6;
  color: var(--buttoncolor-white);
  border-radius: 6px;
  transition: 0.2s;
  cursor: "pointer";
}

#add-button:hover {
  transform: scale(1.1);
}

#task-states-section button {
  width: auto;
  height: 32px;
  border-radius: 6px;
  background-color: var(--buttoncolor-white);
  color: #363636;
  font-size: 12px;
  padding: 0 10px;
  margin-top: 20px;
  margin-left: 1rem;
  transition: 0.2s;
}

#task-states-section button:hover {
  background-color: mediumaquamarine;
  transform: scale(1.1);
}

#task-states-section button.active-filter {
  background-color: #3c82f6;
  color: var(--buttoncolor-white);
}

#task-list-container {
  width: 345px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: 20px;
}

#list-container {
  width: 345px;
  height: 62px;
  background-color: #f3f4f6;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
}

#check-box {
  outline: none;
  position: absolute;
  left: 3%;
  top: 40%;
}

#check-box:focus {
  border: none;
  box-shadow: none;
}

#task-text {
  position: absolute;
  margin-left: 10px;
  left: 10%;
  top: 40%;
}

#delete-button {
  position: absolute;
  border: none;
  background-color: transparent;
  left: 85%;
  top: 30%;
  transition: 0.2s;
  cursor: "pointer";
}

#delete-button:hover {
  transform: scale(1.1);
}

#number-of-tasks-section {
  width: 100%;
  padding-top: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e5e7eb;
}

#number-of-task {
  text-align: center;
  color: #6b7280;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

#lower-section {
  width: 345px;
  height: 15px;
}

.completed-task {
  text-decoration: line-through;
  color: #000;
}

#clearCompleted-button {
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #ef4444;
  background-color: transparent;
}

button {
  background-color: var(--button-background);
  color: var(--button-text-color);
  border: none;
  border-radius: 6px;
  cursor: "pointer";
}

#containerFooter {
  width: 100%;
  height: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#footer {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
